body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-image: url("assest/images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.header-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.header-title h1 {
    text-transform: capitalize;
    font-size: 50px;
    color: #fff;
    word-spacing: 5px;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.header-title p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 50px;
}

.header-title a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #43ebc6;
    padding: 14px 30px;
    border-radius: 25px;

}

/* header area end */
/* donate area start here */
.donate-area {
    padding: 60px 0;
    text-align: center;

}

.donate-title h2 {
    font-size: 40px;
    color: #000;
    text-transform: capitalize;
    margin-bottom: 0;
}

.donate-title p,
.plan-title p,
.gallery-title p {
    color: gray;
    font-size: 16px;
}

.amount-list {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}

.amount-list h2 {
    font-size: 30px;
    padding: 30px 20px;
    border-radius: 4px;
}

.amount-list h2#selected {
    border: 1px solid #43ebc6;
    color: #43ebc6;
    background-color: #bcf7ea86;
}

.input-tk input {
    text-align: center;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid grey;
    width: 57%;
    text-transform: capitalize;
    font-size: 14px;
    word-spacing: 4px;
}

.input-tk button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px solid transparent;
    padding: 14px 30px;
    font-size: 17px;
    border-radius: 20px;
    background-color: #43ebc6;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}

/* donate area end */
/* donate plan area start  */
.donate-plan {
    padding: 60px 0;
    background-color: #43ebc6;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.plan-title {
    text-align: center;
    width: 45%;
    margin: 0 auto;
}

.plan-title h2 {
    text-transform: capitalize;
    font-size: 38px;
    margin-bottom: 0;
}

.plan-box {
    display: flex;
}

.box {
    padding: 25px;
    margin: 0 10px;
    border-radius: 5px;
}

.box img {
    width: 60px;
    height: 60px;
}

.box h3 {
    text-transform: capitalize;
}

.box p {
    font-size: 15px;
    color: grey;
}

.box1 {
    background-color: #f1f7d8;
}

.box2 {
    background-color: #d4eeda;
}

.box3 {
    background-color: #f7d0e8;
}

/* donate plan area end  */
/* gallery area start */
.gallery-area {
    padding: 60px 0;
}

.gallery-container {
    width: 90%;
    margin: 0 auto;
}

.gallery-title {
    text-align: center;
}

.gallery-title h2 {
    text-transform: capitalize;
    font-size: 45px;
    margin-bottom: 0;
}

.gallery-image {
    display: flex;
    justify-content: space-around;
}

.gallery-image img {
    width: 400px;
    height: 300px;
    margin: 10px;
}

/* gallery area end  */
/* message area start  */
.message-area {
    padding: 60px 0;
}

.message-container {
    width: 60%;
    margin: 0 auto;
}

.message-title {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.message-title h2 {
    font-size: 38px;
    text-transform: capitalize;
    margin-bottom: 0;
}

.message-title p {
    font-size: 15px;
    color: gray;
}

.message-form input {
    padding: 10px;
    margin: 10px 5px;
    border: 2px solid #43ebc6;
    width: 44%;
}

.message-form textarea {
    width: 785px;
    display: block;
    height: 200px;
    border: 2px solid #43ebc6;
    margin-left: 5px;
}

.message-form button {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
    border: 1px solid transparent;
    text-transform: uppercase;
    padding: 15px 30px;
    border-radius: 20px;
    background-color: #43ebc6;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

/* message box end  */
/* footer area start  */
footer {
    padding: 40px 0;
    background: #000;
    text-align: center;
}

footer h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-style: italic;
}

footer small {
    color: gray;
    text-transform: capitalize;

}

footer small a {
    color: #43ebc6;
    text-decoration: none;
}

/* footer area end  */