body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-image: url("assest/images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}

.header-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.header-title h1 {
    text-transform: capitalize;
    font-size: 50px;
    color: #fff;
    word-spacing: 5px;
    letter-spacing: 2px;
}

.header-title p {
    color: #fff;
    font-size: 18px;
}

.header-title a {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #43ebc6;
    padding: 14px 30px;
    border-radius: 25px;
}